@font-face {
    font-family: gotham-light;
    src:  url('/src/fonts/Gotham-Font/Gotham-Light.otf');
}

#red-colour
{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:10;
    background: linear-gradient(to right, #b65157,#753140);
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

#short-film-and-bar
{
    order: 2;
}

#short-film
{
    font-family: gotham-light;
    font-size: 21px;
    color: rgba(138,213,236,255);
}

#short-film-and-bar hr
{
    background-color: #d68b9e;
    height: 10px;
    border: none;
    margin: 10px 0px;
}

#spectral
{
    font-family: gotham-light;
    font-weight: 100;
    font-size: 140px;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    top: 300px;
    left: -140px;
    transform: rotate(-90deg);
    opacity: 0.125;
}

#brief-and-paragraph
{
    margin-top: 400px;
    width: 70%;
}

#brief
{
    font-family: gotham-light;
    font-size: 21px;
    padding-bottom: 20px;
    color: rgba(138,213,236,255);
}

#paragraph
{
    font-family: gotham;
    font-size: 11px;
    opacity: 0.5;
}

#discover-button
{
    margin: 4px 2px;
    margin-top: 50px;
    margin-left: 170px;
    padding: 10px 35px;
    border: 1px solid white;
    font-family: gotham;
    border-radius: 25px;
    opacity: 50%;
    color: white;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;
}
