body{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(17, 1fr);
    height: 100vh;
    background: url("../img/vase.jpeg") top center;
    background-size: cover;
    overflow: hidden;
}

#bottom-part {
    grid-column-start: 6;
    grid-column-end: 17;
    grid-row-start: 8;
    grid-row-end: 10;
    display: flex;
    align-items: center;
    padding: 2.5em;
    background-color: rgb(0, 0, 0, 0.5);
    background-size: cover;
    opacity: 0.7;
}

#bottom-part > div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    margin-right: auto;
 }

.blue-title{
    font-family: gotham-light;
    font-size: 21px;
    color: rgba(138,213,236,255);
}

.bottom-item > h1{
    margin-bottom: 1em;
}

.bottom-item > p {
    font-family: gotham-light;
    font-size: 11px;
    color: white;
    opacity: 0.7;
}

#bottom-part > i {
    color: white;
    margin-left: auto;
}
